@import'theme_css/_theme.scss';
@import'color/_theme_color.scss';
// ======================================= //

.sticky-wrapper.is-sticky .menu {
    box-shadow: $shadow-three;
    background: $bg;
    transition: $transition;
    padding: 5px 0;
}

.menu {
    padding: 10px;
    background: transparent;
    box-shadow: 0px 0px 0px 0px;
    transition: all ease-in-out .3s;
    position: relative;
    z-index: 999;
    
    .navbar {
        padding: 5px 0px;
        transition: $transition;
        .container-fluid {
            padding: 0;
            .navbar-toggler {
                border: none;
                outline: none;
                box-shadow: none;
                color: $primary;
                padding: 15px 20px;
                background: $white;
                font-size: 16px;
                border-radius: 30px;
                align-items: center;
                .fa-bars{
                    color: $primary;
                    size: 14px;
                    margin-right: 4px;
                }
            }
            .offcanvas{
                margin-top: 0;
                .offcanvas-header{
                    .offcanvas-title{
                        font-family: "Inter", serif;
                        font-size: 16px;
                        font-weight: 600;
                        color: #FFFFFF66;
                    }
                    .close-btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white;
                        font-weight: 600;
                        background: #DFDFDF1A;
                        border-radius: 30px;
                        padding: 10px 20px;
                        transition: $transition;
                        span{
                            font-size: 14px;
                            margin-right: 3px;
                        }
                        &:hover{
                            color: $secondary;
                        }
                    }
                }
                .offcanvas-body {
                    align-items: center;
                    .navbar-nav {
                        background: $white;
                        padding: 4px 20px;
                        border-radius: 30px;
                        .nav-item {
                            margin: 0 10px;
                            .nav-link {
                                color: $primary;
                                font-family: "Inter", serif;
                                transition: $transition;
                                text-transform: capitalize;
                                &:hover {
                                    color: $secondary;
                                }
                            }
                            .active {
                                color: $secondary;
                                position: relative;
                                display: flex;
                                align-items: center;
                                &::before{
                                    content: '';
                                    position: absolute;
                                    width: 5px;
                                    height: 5px;
                                    background: $secondary;
                                    left: -2px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// ==================== END Menu =================== //

header{
    background: url(../images/header-bg.png) no-repeat center center/cover;
    .hero-box{
        .hero-text{
            text-align: center;
            padding: 50px 0;
            h1{
                line-height: 120px;
                color: $primary;
                span{
                    display: block;
                    img{
                        margin: 0 5px;
                    }
                }
            }
        }
        .hero-img{
            background: url(../images/hero-image.png) no-repeat center center/cover;
            width: 100%;
            min-height: 675px;
            border-radius: 40px;
        }
    }
    .content-box{
        background: white;
        padding: 40px;
        border-radius: 30px;
        margin: 10px 0;
        display: flex;
        min-height: 295px;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .text{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 20px;
                font-weight: 600;
                color: $primary;
                span{
                    display: block;
                }
            }
            .dot{
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: $primary;
            }
        }
        a{
            color: $secondary;
            font-size: 20px;
            font-weight: 600;
        }
        .pattern-position{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .tags{
            span{
                padding: 10px 24px;
                border: 1px solid $border;
                border-radius: 30px;
                font-size: 16px;
                font-weight: 600;
                color: $primary;
                display: inline-block;
                margin-bottom: 5px;
            }
        }
        .d-f-j{
            display: flex;
            justify-content: end;
            .item{
                p{
                    margin: 20px 0;
                    font-size: 18px;
                    font-weight: 600;
                    color: $primary;
                }
                h4{
                    margin: 20px 0;
                    font-size: 35px;
                    font-weight: 500;
                    color: $primary;
                }
            }
        }
    }
}
// ==================== END Header =================== //

.brand-logo{
    .section-title{
        text-align: center;
        h4{
            font-size: 20px;
            color: $primary;
            font-family: "Inter", serif;
        }
    }
    .logo-slider {
        width: 100%;
        overflow: hidden;
        position: relative;
        background: transparent;
        white-space: nowrap;
        margin-top: 50px;
        .shadow-left{
            position: absolute;
            left: 0;
            height: 100px;

        }
        &::before{
            content: "";
            position: absolute;
            left: 0;
            width: 100px;
            height: 100%;
            background: linear-gradient(90deg, rgba(246,247,249,1) 6%, rgba(246,247,249,0) 81%, rgba(246,247,249,0) 100%);
            z-index: 1;
        }
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
            height: 100%;
            background: linear-gradient(90deg, rgba(246,247,249,0) 6%, rgba(246,247,249,0) 47%, rgba(246,247,249,1) 100%);
            z-index: 2;
        }
        .logo-track {
            display: flex;
            gap: 20px;
            animation: scroll 10s linear infinite;
            img{
                margin: 5px 30px;
            }
            @keyframes scroll {
                from {
                  transform: translateX(0);
                }
                to {
                  transform: translateX(-81%);
                }
              }
          }
      }
}
// ==================== END Brand Logo =================== //

.work{
    padding: 0;
    .work-box{
        background: $primary;
        padding: 50px 0;
        border-radius: 40px;
        .section-title{
            padding-left: 40px;
            h2{
                font-size: 70px;
                color: $white;
                line-height: 60.2px;
                font-family: 'myfont', sans-serif;
                span{
                    display: block;
                }
            }
        }
        .work-slider{
            padding-left: 10px;
            padding-top: 50px;
            .slider-items{
                img{
                    border-radius: 50px;
                    margin-bottom: 24px;
                }
                a{
                    color: $white;
                    transition: $transition;
                    span{
                        margin-left: 5px;
                        .fa-arrow-up{
                            transform: rotate(45deg);
                            transition: all ease-in-out .1s;
                        }
                    }
                    &:hover{ 
                        color: $secondary;
                        span{
                            .fa-arrow-up{
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
            button.owl-next {
                position: absolute;
                top: -100px;
                right: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px ;
                height: 80px;
                width: 80px;
                color: $white;
                border-radius: 24px;
                background: #FFFFFF1A;
                transition: $transition;
                &:hover{
                    background: $secondary;
                }
            }
            button.owl-prev {
                position: absolute;
                top: -100px;
                right: 135px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                height: 80px;
                width: 80px;
                border-radius: 24px;
                color: $white;
                background: #FFFFFF1A;
                transition: $transition;
                &:hover{
                    background: $secondary;
                }
            }
        }
    }
}
// ==================== END Work =================== //

.faq{
    padding: 50px 50px;
    .fax-content-text{
        .mini-text{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .dot{
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #022D331A;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0.5px solid #022D331A;
                margin-right: 8px;
                span{
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    border: 1px solid #FFFFFF;
                    background: $primary;
                }
            }
            p{
                color: $primary;
            }
        }
        .section-title{
            h2{
                font-size: 70px;
                color: $primary;
                line-height: 60.2px;
                font-family: 'myfont', sans-serif;
            }
        }
    }
    .faq-btn-for-pc{
        margin-top: 50px;
    }
    .accordion{
        padding: 8px;
        border-radius: 8px;
        background: $white;
        .accordion-item{
            .accordion-header{
                .accordion-button{
                    background-color: transparent;
                    box-shadow: none;
                    font-size: 16px;
                    font-weight: 600;
                    transition: $transition;
                    margin-top: 5px;
                    border-radius: 6px 6px 0px 0px;
                    .arrow{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 20px;
                        width: 20px;
                        font-size: 12px;
                        border-radius: 50%;
                        background: #ECEEF2;
                        color: black;
                        transition: $transition;
                        .fa-angle-down{
                            transform: translateY(1px);
                        }
                    }
                }
                .accordion-button:not(.collapsed){
                    color: #FE5000;
                    background: #F6F7F9;
                    .arrow{
                        transform: rotate(-180deg);
                    }
                }
                .accordion-button::after{
                    display: none;
                }
            }
            .accordion-body{
                margin-bottom: 5px;
                padding-top: 5px;
                border-radius: 0px 0px 6px 6px;
                p{
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
            .show{
                .accordion-body{
                    background: #F6F7F9;
                }
            }
        }
    }
    .faq-btn-for-mobile{
        text-align: center;
        margin-top: 40px;
        display: none;
    }
}
// ==================== END FAQ =================== //

.footer{
    padding-top: 60px;
    padding-bottom: 20px;
    .bottom-wrapper{
        background: url(../images/bottom-bg.png) no-repeat center center/cover;
        background-color: $primary;
        border-radius: 40px;
        .section-title{
            text-align: center;
            padding: 100px 0;
            h2{
                font-size: 70px;
                color: $white;
                line-height: 74.2px;
                font-family: 'myfont', sans-serif;
            }
            .primary-button{
                margin-top: 54px;
                color: $primary;
                background: $white;
                span{
                    background: $primary
                }
            }
        }
        .footer-links{
            border-top: 1px solid #FFFFFF1F;
            border-bottom: 1px solid #FFFFFF1F;
            padding: 48px 40px;
            .links{
                p{
                    margin-bottom: 25px;
                    color: #FFFFFF99;
                }
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        a{
                            display: flex;
                            align-items: center;
                            color: $white;
                            font-size: 16px;
                            padding: 0 5px;
                            margin: 5px 10px;
                            position: relative;
                        }
                        .active{
                            &::before{
                                content: '';
                                position: absolute;
                                width: 5px;
                                height: 5px;
                                background: $white;
                                left: -5px;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
            .email-links{
                a{
                    color: $white;
                }
            }
            .end-content{
                display: flex;
                justify-content: end;
                .social-links{
                    p{
                        margin-bottom: 25px;
                        color: #FFFFFF99;
                    }
                    ul{
                        display: flex;
                        align-items: center;
                        li{
                            a{
                                display: flex;
                                align-items: center;
                                color: $white;
                                font-size: 16px;
                                margin: 5px 0;
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
            .md-visible{
                display: none;
            }
        }
        .copyright-text{
            padding: 48px 40px;
            .copy-right{
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    margin-bottom: 5px;
                    color: #FFFFFF99;
                }
                a{
                    margin-bottom: 5px;
                    color: #FFFFFF99;

                }
            }
            .end-content{
                display: flex;
                justify-content: end;
            }
        }
    }
}
