// ======= colour ======== //
$primary: #022D33;
$secondary: #FE5000;
$border:#d1d1d1;
$span:#e5e5e5;
$bg: #F6F7F9;
$white: white;
$black:black;

// ======= transition ======== //
$transition: all 0.3s ease-in-out;
$transition-two: all 0.5s ease-in-out;

// ======= shadow ======== //
$shadow:5px 5px 60px 0px rgba( 45, 19, 106, 0.4);
$shadow-two: 0px 1px 10px 0px rgba(45, 19, 106, 0.1);
$shadow-three:0px 8px 20px 0px rgba(45, 19, 106, 0.2);
